variables:
#   AWS_DEFAULT_REGION: ap-southeast-1
#   DOCKER_REGISTRY: 280459132327.dkr.ecr.ap-southeast-1.amazonaws.com
#   DOCKER_TLS_CERTDIR: "/certs"


stages:
  - release

release-dev:
  stage: release
  only:
    - development
  image: 
    name: amazon/aws-cli
    entrypoint: [""]
  services:
    - docker:dind
  before_script:
    - amazon-linux-extras install docker
    - aws --version
    - docker --version
  script:
    - echo $CI_COMMIT_SHORT_SHA > version.txt
    - docker build -f Dockerfile -t $APP_NAME .
    - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:dev-$CI_COMMIT_SHORT_SHA
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:dev-$CI_PIPELINE_IID
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:dev
    - docker push $DOCKER_REGISTRY/$APP_NAME:dev-$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_REGISTRY/$APP_NAME:dev-$CI_PIPELINE_IID
    - docker push $DOCKER_REGISTRY/$APP_NAME:dev


release-stag:
  stage: release
  only:
    - main
  image: 
    name: amazon/aws-cli
    entrypoint: [""]
  services:
    - docker:dind
  before_script:
    - amazon-linux-extras install docker
    - aws --version
    - docker --version
  script:
    - echo $CI_COMMIT_SHORT_SHA > version.txt
    - docker build -f Dockerfile -t $APP_NAME .
    - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:stag-$CI_COMMIT_SHORT_SHA
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:stag-$CI_PIPELINE_IID
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:stag
    - docker push $DOCKER_REGISTRY/$APP_NAME:stag-$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_REGISTRY/$APP_NAME:stag-$CI_PIPELINE_IID
    - docker push $DOCKER_REGISTRY/$APP_NAME:stag


release-prod:
  stage: release
  only:
    - /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
  except:
    - branches
  image: 
    name: amazon/aws-cli
    entrypoint: [""]
  services:
    - docker:dind
  before_script:
    - amazon-linux-extras install docker
    - aws --version
    - docker --version
  script:
    - echo $CI_COMMIT_TAG > version.txt
    - docker build -f Dockerfile -t $APP_NAME .
    - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:prod-$CI_COMMIT_SHORT_SHA
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:prod-$CI_PIPELINE_IID
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:$CI_COMMIT_TAG
    - docker tag $APP_NAME $DOCKER_REGISTRY/$APP_NAME:prod
    - docker push $DOCKER_REGISTRY/$APP_NAME:prod-$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_REGISTRY/$APP_NAME:prod-$CI_PIPELINE_IID
    - docker push $DOCKER_REGISTRY/$APP_NAME:$CI_COMMIT_TAG
    - docker push $DOCKER_REGISTRY/$APP_NAME:prod
