@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Lebar scrollbar */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* Warna scrollbar (blue-500) */
    border-radius: 4px; /* Sudut melengkung */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e5e7eb; /* Warna track (gray-200) */
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
